/** Root */

/** Generics */

body{
    background-color: #888888;
}

/** Utilities */

.my_btn{
    display: inline-block;
    cursor: pointer;
    padding: 5px 30px;
    color: #007B00;
    font-weight: 700;
    font-size: 24px;
    background-color: #BDBDBD;
}

.my_border{
    border-width: 5px;
    border-style: solid;
    border-color: #FFFFFF #7B7B7B #7B7B7B #FFFFFF;
}

/** Header */

header{
    padding: 30px;
}

nav{
    width: 500px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BDBDBD;
}

/** Box */

#box{
    margin: 0 auto;
    width: 700px;
    height: 700px;
    background-color: #BDBDBD;
    display: flex;
    flex-wrap: wrap;
    border-width: 10px;
    border-style: solid;
    border-color: #7B7B7B #FFFFFF #FFFFFF #7B7B7B;
}

#box .cell{
    cursor: pointer;
    width: calc(100% / 10);
    height: calc(100% / 10);
    color: #007B00;
    font-weight: 700;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    background-color: #BDBDBD;
    border-width: 5px;
    border-style: solid;
    border-color: #FFFFFF #7B7B7B #7B7B7B #FFFFFF;
}

#box .cell.active{
    border: 1px solid #7F7F7F;
    color: #0000FF;
}